@charset "utf-8";
@import "_var", "_mixin";

//cnt_wrap
#cnt_wrap{
    overflow: hidden;
    width: 100vw; height: 100vh; 
}

// intro
#intro{
    font-family: FiraCode; font-size: 50px; cursor: pointer;
    #typing{
    display: inline-block; text-align: center;
    width: 100vw; height: 100%; margin: 0 auto;
    p{display: inline-block; line-height: 100vh;}
    .color{color: $yellow;}
    }
    span{
        +span{margin-left: 10px;}
    }
    #caret {  
        display: inline-block; 
        animation-name: cursor; 
        animation-duration: 0.5s; 
        animation-iteration-count: infinite; 
        
    } 
    @keyframes cursor {
    from {border-bottom: 5px solid #fff} 
    50% {border-bottom: 5px solid #272727} 
    to {border-bottom: 5px solid #fff} 
    }
}

#index{
    width: 100vw;height: 100vh; //overflow: hidden;
    position: relative;
    .main_bg{
        @include bgsize(cover); width: 100%; height: 100%;
        background-image: url("../images/main/main_bg.png"); 
        }
    .bg_shapes{
        display: inline; position: absolute; top: 0;left: 0;
        animation: shapes 30s linear infinite;
        @keyframes shapes  {
            0% {transform:translateY(10%);}
            50% {transform:translateY(-10%);}
            100% {transform:translateY(10%);}
        }
    }
    .bgm{
        text-align: center; width: 80%; font-size: 20px; position: absolute; top: 75px;left: 10%; z-index: 900;
        p{display: inline-block; cursor: default;}
        button{display: inline-block; cursor: pointer; 
            >img{display: block; height: 20px;}
        }
        .bgm_play{
            img{width: 25px; height: 20px;}
        }
    }

    .left_menu{
    position: absolute; top: 520px;left: -210px; transform: rotate(90deg);
    li{display: inline-block; letter-spacing: 4.3px; font-size: 18px;
    +li{margin-left: 65px;}}
    }
    .rotate{display: inline-block; margin-top: -4%; margin-left: 3%; width: 80px;height: 50px;}

    .center{
        display: inline-block;
        text-align: center; position: relative;
        width: 1500px; height: 400px; top: -70%; left: 50px;
        
        strong{
            display: inline-block; cursor: default;
            animation: center_text 5s linear 0s infinite normal ;
            @keyframes center_text {
                from{transform: perspective(0px) rotateY(0deg);}
                50%{transform: perspective(500px) rotateY(180deg);}
                to{transform: perspective(0px) rotateY(360deg);}
            }
            font-size: 50px; @include text-stroke(1px #000000); width: 100%; position: absolute; top: calc(50% - 25px);left: 0;}
        >img{display: inline-block; width: 1300px; height: 400px;}
        
        .center_menu{
            display: inline-block; background: green;
            
            li{
                display: inline-block; position: absolute;
                >img{width: 200px;height: 200px;}
                .on{
                    display: none;
                    border: 5px solid #ffffff; font-family: PaintChocolate; font-size: 80px; @include border-box; padding: 15px 30px;}
            }
            .whale{
                animation: whale_ani 1000s linear 0s infinite normal ;
                
                >img{width: 330px;}               
            }
            .earth{
                animation: earth_ani 1000s linear 0s infinite normal ;
                
            }
            .moon{
                animation: moon_ani 1000s linear 0s infinite normal ;              
            }

        }
        @keyframes whale_ani{
            0%{top: -50px;left: 600px;}
            10%{top: -50px;left: 400px;}
            20%{top: 0px; left: 80px;}
            30%{top: 95px; left: 15px;}
            40%{top: 195px; left: 125px;}
            50%{top: 270px; left: 470px;}
            60%{top: 255px; left: 805px;}
            70%{top: 270px; left: 950px;}
            80%{top: 50px; left: 1210px;}
            90%{top: -30px;left: 950px;}
            100%{top: -50px;left: 600px;}
        } 
        @keyframes earth_ani{
            0%{top: 270px; left: 470px;}
            10%{top: 255px; left: 805px;}
            20%{top: 270px; left: 950px;}
            30%{top: 50px; left: 1210px;}
            40%{top: -30px; left: 950px;}
            50%{top: -50px;left: 600px;}
            60%{top: -50px;left: 400px;}
            70%{top: 0px; left: 80px;}
            80%{top: 95px; left: 15px;}
            90%{top: 195px; left: 125px;}
            100%{top: 180px; left: 125px;}
        } 
        @keyframes moon_ani{
            0%{top: 50px; left: 1210px;}
            10%{top: -30px;left: 950px;}
            20%{top: -50px;left: 600px;}
            30%{top: -50px;left: 400px;}
            40%{top: 0px; left: 80px;}
            50%{top: 95px; left: 15px;}
            60%{top: 195px; left: 125px;}
            70%{top: 270px; left: 470px;}
            80%{top: 255px; left: 805px;}
            90%{top: 270px; left: 950px;}
            100%{top: 85px; left: 1210px;}
        } 
    }   

    .right{
        writing-mode: vertical-rl; text-orientation: upright;
        @include text-stroke (1px $gray); cursor: default;
        p{display: inline-block;position: absolute;
        letter-spacing: 20px;
        &:nth-child(1){top: 170px; right: 110px;}
        &:nth-child(2){top: 550px; right: 80px;}
        }
    }
}