@charset "utf-8";
@import "_var", "_mixin";

#header{}
#wrap{
    overflow: hidden;
}
canvas{position: fixed; top: 0; left: 0; width: 100%; height: 100% ; vertical-align : bottom; z-index: -1;}
#contact_wrap{
#cnt1{
    .youth{
        h1{
            position: absolute; top: calc(50% - 15px); left: 80%; font-size: 30px;
            &::before{
                content: ""; display: inline-block; width: 0px; height: 3px; position: absolute; top: 49%; left: -240%; background: #ffffff; 
                }
        }
        @include bgsize(cover);
        width: 100vw;height: 100vh;
         background-position: center;
        background-image: url("../images/contact/contact_bg.png");
        ul{
            display: none;position: absolute;top: 500px;left: 150px;
            &.view{display: block;}
        }
        .c1_txt{
            li{
            overflow: hidden; position: relative;
            height: 42px; font-size: 20px;
            line-height: 3.2;
            span{display: inline-block;}
                +li{margin-top: 20px;}
            }
        }
    }
.youth.on{
    h1{
        &::before{width: 430px; @include transition(all 1s);}
    }
    .c1_txt{
        li{
            span{transform: translateY(0%);animation: text_up 2s linear both;}
            &.ko span{animation: text_up 1s linear both;}
        }
    }
}
}
@keyframes text_up {
    from {transform: translate3d(0, 150%, 0);}
    to {transform: translate3d(0, 0, 0);}
}
#cnt2{
    width: 100vw;height: 100vh;  cursor: default;
    @include bgsize(cover); background-position: bottom left;
    background-image: url("../images/contact/contact_bg_2.png");
    h1{
        display: inline-block; font-size: 180px; padding-left: 300px; padding-top: 200px; line-height: 1.2;
    }
    .introduce{
        display: inline-block; padding-left: 150px; height: 648px;
        li{
            font-size: 25px; width: 800px; height: 180px; line-height: 180px; 
            strong{display: inline-block; font-weight: 400; width: 300px;text-align: center;}
            p{display: inline-block; padding-left: 20px;}
            +li{border-top: 1px solid $gray;}
        }
    }
}
// js li에 hover,focus 제어
#cnt3{
    width: 100vw;height: 100vh; position: relative;  cursor: default;
    @include bgsize(cover); background-position: top left;
    background-image: url("../images/contact/contact_bg_3.png") ;
    h2{padding-top: 150px; margin-left: 300px; font-size: 120px;}
    .skill_box{
        // display: flex;
        margin-left: 150px; margin-top: 100px;
        li{
            display: inline-block; text-align: center; height: 85px;
            line-height: 80px; position: relative;
            strong{display: inline-block; text-align: center;}
            p{display: inline-block; font-weight: 500; font-size: 80px; color: rgba(255, 255, 255, 0.2); position: absolute; top: 0; left: 0;}
            &:hover,&:focus{              
                strong{color: rgba(255, 255, 255, 0.2); @include transition(all 0.5s);}
                p{color: #ffffff;  @include transition(all 0.3s);}
            }
        }
        .skill_top{
            width: 400px;
            p{width: 400px;}
        }
        .skill_btm{
            width: 320px; margin-top: 80px;
            p{width: 320px;}
        }
    }
    .stream{
        width: 100vw; 
        h3{
            display: inline-block; font-size: 80px;
            position: absolute; bottom: 0px; left: 0;
            white-space: nowrap; height: 150px; line-height: 150px;
            animation: stream 100s linear infinite;
            @keyframes stream  {
                from {
                    transform:translateX(20%);
                }
                to {
                    transform:translateX(-100%);
                }
            }
        }
        &::after{content: "";background: #ffffff;
            width: 100vw; height: 5px; display: block; bottom: 150px;
            left: 0px;position: absolute;
        }
    }
}
}

#acce_wrap{
    font-family: NtSansKR;
    #acce_main{
    width: 100vw; height: 100vh;
        .acce_left{
            margin-left: 150px; padding-top: 250px;
            h1{@include text-stroke(1px #ffffff); font-family: Retroica; font-size: 100px;}
            h2{font-size: 30px; font-weight: 400; margin-top: 10px; margin-left: 10px;}
            p{margin-top: 100px; margin-left: 10px; font-size: 20px;line-height: 65px;
            }
        }
        a{font-size: 20px; display: inline-block; width: 250px; height: 70px; border: 1px solid $gray; text-align: center ; line-height: 68px;
        position: absolute; bottom: 85px; left: calc(50% - 125px);
        //bottom: 245px; right: 300px;
        &:hover,&:focus{background: #ffffff; color: #000000;@include transition(all 0.3s);}
        }
    }
    #acce_tab{
        &::before{
            content: "";@include bgsize(cover); width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;
            background-image: url("../images/accessibility/acce_tab_bg.png"); z-index: -1; 
            }
        #tab_box{   
        }
        #tablist{
            li{
                cursor: pointer; width: 80px; height: 80px;border-radius: 50%; background: #000000; color: #ffffff; text-align: center; line-height: 80px; font-size: 25px; position: absolute; z-index: 5;
                &:nth-child(1){top: 50px; right: 380px;}
                &:nth-child(2){top: 125px; right: 280px;}
                &:nth-child(3){top: 205px; right: 190px;}
                &:nth-child(4){top: 295px; right: 110px;}
            }
            li.active{background: $yellow; color: #000000;}
        }
        .tabpanel{
            display: none; overflow: hidden; width: 1900px;
            position: absolute; top: 0px; left: 0; 
            z-index: -1; 
            // display: flex; flex-direction: column; 
            // align-items:center;justify-content:center; 
            h2{font-size: 30px; text-align: center;cursor: default;padding-top: 150px;}
            ul{text-align: center;margin-bottom: 200px;}
            li{  
                margin-top: 150px; text-align: center; cursor: default;
                p{display: inline-block;  
                @include border-box;border: 1px solid $gray; 
                word-break: keep-all; font-size: 16px;width: 1000px;text-align: left; line-height: 30px;background: #000000; padding: 40px 80px;}
                img{display: inline-block; margin-top: 50px; width: 1200px;}
                +li{margin-top: 200px;}
            }
        }
        #tabpanel1{
            background-image: url("../images/accessibility/acce_tab_circle1.png"); padding-bottom: 130px; 
        }
        #tabpanel2{
            background-image: url("../images/accessibility/acce_tab_circle2.png"); padding-bottom: 90px; 
        }
        #tabpanel3{
            background-image: url("../images/accessibility/acce_tab_circle3.png"); padding-bottom: 90px; 
        }
        #tabpanel4{
            background-image: url("../images/accessibility/acce_tab_circle4.png"); padding-bottom: 350px; 
            li{
                h3{margin-top: 50px;}
                img{width: 1500px; height: 160px;}
            }
        }
        // &::before{
        //     content: "";background-color: rgba(0, 0, 0, 0.7);
        //     width:100vw;height: 1920px; display: inline-block;
        //     border-radius: 50% 50% 0 0; position: absolute; top: -150px; left: 0; z-index: -1;
        //     }
        // &::after{
        //     content: "";background-color: rgba(0, 0, 0, 0.7);
        //     width:100vw; height: 1920px; display: inline-block;
        //     border-radius: 0 0 50% 50%; margin-top: -2px;
        //     position: absolute; top: 1772px; left: 0;z-index: -1;
        //     }
        .tabpanel.active{
            display: inline-block;
        }
    }
}

#project_wrap{
    #pj_main{    
    width: 100vw; height: 100vh;
    .pj_list{
        ul{
        float: left; position: relative;width: 627px; height: 100vh;
            li{
            display: inline-block;
            }
        &:nth-child(1){
            background-image: url("../images/project/project_main_1.png");
            border-right: 1px solid $gray;
        }
        &:nth-child(2){
            background-image: url("../images/project/project_main_2.png");
            border-right: 1px solid $gray;border-left: 1px solid $gray;
        }
        &:nth-child(3){
            background-image: url("../images/project/project_main_3.png");
            border-left: 1px solid $gray;
        }
        +ul{margin-left: 19.5px;}
        }
        h2{
            font-size: 38px; display: block; 
            position: absolute; top: 280px; right: 50px;
            &::after{content: ""; background: #ffffff; height: 1px; width: 400px; position: absolute; top: -70px; right: -50px;}
        }
        .open{
            display: none;
            position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: #000; padding: 130px 60px;
            img{width: 505px;height: 510px;
            }
            strong{display: block;font-size: 35px; text-align: right;font-weight: 400; margin-top: 20px;}
            p{margin-top: 70px; font-size: 20px; line-height: 2.5;}
            &::after{
                content: ""; display: block; background: #ffffff; height: 1px; width: 510px; position: absolute; bottom: 180px; left: calc(50% - 255px);}
        }
    }
}
}

#pj_more_wrap{
        width: 100vw; overflow: hidden;
        .txt_l{text-align: left;}
        .txt_r{text-align: right;}
        h1{position: fixed; top: 50px; left: 0; width: 100%; text-align: center; font-size: 30px; z-index:50;}
        .velvet{position: fixed; top: 0; left: 0; z-index: -1;}
        .gra_circle{
            display: inline-block; width: 650px; height: 650px;
            position: absolute; top: 180px; left: calc(50% - 325px);
            @include bgsize(cover); background-position: center;background-image: url("../images/bioterm/main_circle.png");
        }
        .pj_m1{
            width: 100vw; height: 100vh;
            text-align: center; padding: 230px 150px 0 150px; 
            @include bgsize(cover); background-position: center;background-image: url("../images/bioterm/main_bg.png");
            a{display: block;}
            ul{
                height: 550px;
                display: flex; flex-direction: column;
                flex-wrap: wrap;justify-content: space-between;
                align-items: flex-start; align-content: space-between;
                li{width: 250px;
                    position: relative; 
                    strong{
                        color: $yellow; font-weight: 400;
                        line-height: 57px; height: 55px;
                        &::before{content: ""; border: 1px solid $yellow; padding: 0px 25px; width: 200px; height: 55px; display: block; position: absolute; top: 0; left: 0;}
                    }
                    p{line-height: 1.5; margin-top: 60px;}
                    a{
                        &::after{
                            content: ""; display: block;
                            width: 0px; height: 0px;
                            position: absolute; top: 1px; right: -1px;  
                            border-bottom: 30px solid;
                            border-left: 30px solid $yellow;
                            color: #000000;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
        .pj_m2{
            width: 100vw; height: 200vh; display: block;
            strong{font-weight: 500; font-size: 150px;}
            .bna{
            margin-top: 200px;
                .bna_img{text-align: center;
                }
            }
        }
        .pj_m3{
            padding: 0 300px; width: 100vw; height: 100vh;
            // @include bgsize(cover); background-position: center;background-image: url("../images/bioterm/velvet_deep.png");
            h3{font-weight: 400; font-size: 130px; }
            p{font-family: NtSansKR; font-size: 18px;line-height: 1.6; padding: 40px 40px 0 40px;}
            .why{padding-top: 100px;}
        }
        .pj_m4{
            font-family: NtSansKR; padding-top: 200px;
            display: flex;flex-direction: row;justify-content: center; align-items: flex-start;  align-content: center;
            ul{
                text-align: left; width: 300px;
                font-size: 20px; border: 1px solid $gray;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 100px 60px;
                li{ font-size: 18px; margin-top: 100px; 
                    >img{display: block; width: 100px; height: 100px; margin-top: 100px;}
                    +li{margin-top: 50px;}
                }
                +ul{margin-left: 180px;}
            }
            .concept{height: 500px;}
            .font{
                height: 800px; margin-top: 200px;
                p{margin-top: 20px;}
            }
            .palette{
                margin-top: 400px;
                span{
                    display: block; width: 100px; height: 100px; margin-bottom: 20px;   
                }
            }
        }
        .pj_m5{
            padding: 200px 300px 0 300px;font-family: NtSansKR;
            ul{
                padding-bottom: 200px;
                li{
                    position: relative;
                    bottom: 0%; transform: translateY(100%);
                    &:nth-child(odd){text-align: left;}
                    &:nth-child(even){text-align: right;}
                    p{font-size: 17px;line-height: 2.5; margin-top: 50px;}
                    +li{margin-top: 200px;}
                }
            }
    }
    #bioterm_wrap{
        #bio1{
            a{
                img{height: 700px; width: auto; position: absolute; top: 150px; left: calc(50% - 190px); }
            }
        }
        #bio2{
            .bna{
                .bna_img{
                    text-align: center;
                    img{
                        width: 360px; height: 640px; margin-top: -40px;
                    +img{margin-left: 30px;}}
                }
            }
        }
        #bio4{
            .font{
                li{
                    img{margin-top: 50px;}
                }
            }
            .palette{
                li{
                    span{display: block; width: 100px; height: 100px;}
                    &:nth-child(1){
                        span{background-color:#999999;}
                    }
                    &:nth-child(2){
                        span{background-color:#FFFFFF;}
                    }
                    &:nth-child(3){
                        span{background-color:#00AE9F;}
                    }
                    &:nth-child(4){
                        span{background-color: #4A9EC0;}
                    }
                    &:nth-child(5){
                        span{background-color:#0E2B3D;}
                    }
                }
            }
        }
    }
    #hillstate_wrap{
        #hill1{
            a{
                img{height: 550px; width: auto; position: absolute; top: 250px; left: calc(50% - 421.5px); }
            }
        }
        #hill2{
            .bna{
                .bna_img{
                    text-align: center;
                    img{
                        margin-top: -40px; display: inline-block;
                        +img{margin-left: 30px;}
                        &:nth-child(1){
                            width: 858px; 
                            height: 429.5px;
                        }
                        &:nth-child(2){
                            width: 393.5px;
                            height: 523.5px;
                        }
                        &:nth-child(3){
                            width: 299px;
                            height: 530px;
                        }
                    }
                }
            }
        }
        #hill4{
            .font{
                height: 800px; margin-top: 200px;
                img{
                    +img{margin-top: 30px;}
                }
            }
            .palette{
                li{
                    span{display: block; width: 100px; height: 100px;}
                    &:nth-child(1){
                        span{background-color: #F4EBDC;}
                    }
                    &:nth-child(2){
                        span{background-color:#E4D0AD;}
                    }
                    &:nth-child(3){
                        span{background-color: #956E4B;}
                    }
                    &:nth-child(4){
                        span{background-color: #281E13;}
                    }
                    &:nth-child(5){
                        span{background-color: #821E1E;}
                    }
                }
            }
        }
    }
}