#wrap {
  overflow: hidden; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  z-index: -1; }

#contact_wrap #cnt1 .youth {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-image: url("../images/contact/contact_bg.png"); }
  #contact_wrap #cnt1 .youth h1 {
    position: absolute;
    top: calc(50% - 15px);
    left: 80%;
    font-size: 30px; }
    #contact_wrap #cnt1 .youth h1::before {
      content: "";
      display: inline-block;
      width: 0px;
      height: 3px;
      position: absolute;
      top: 49%;
      left: -240%;
      background: #ffffff; }
  #contact_wrap #cnt1 .youth ul {
    display: none;
    position: absolute;
    top: 500px;
    left: 150px; }
    #contact_wrap #cnt1 .youth ul.view {
      display: block; }
  #contact_wrap #cnt1 .youth .c1_txt li {
    overflow: hidden;
    position: relative;
    height: 42px;
    font-size: 20px;
    line-height: 3.2; }
    #contact_wrap #cnt1 .youth .c1_txt li span {
      display: inline-block; }
    #contact_wrap #cnt1 .youth .c1_txt li + li {
      margin-top: 20px; }
#contact_wrap #cnt1 .youth.on h1::before {
  width: 430px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
#contact_wrap #cnt1 .youth.on .c1_txt li span {
  transform: translateY(0%);
  animation: text_up 2s linear both; }
#contact_wrap #cnt1 .youth.on .c1_txt li.ko span {
  animation: text_up 1s linear both; }
@keyframes text_up {
  from {
    transform: translate3d(0, 150%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
#contact_wrap #cnt2 {
  width: 100vw;
  height: 100vh;
  cursor: default;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: bottom left;
  background-image: url("../images/contact/contact_bg_2.png"); }
  #contact_wrap #cnt2 h1 {
    display: inline-block;
    font-size: 180px;
    padding-left: 300px;
    padding-top: 200px;
    line-height: 1.2; }
  #contact_wrap #cnt2 .introduce {
    display: inline-block;
    padding-left: 150px;
    height: 648px; }
    #contact_wrap #cnt2 .introduce li {
      font-size: 25px;
      width: 800px;
      height: 180px;
      line-height: 180px; }
      #contact_wrap #cnt2 .introduce li strong {
        display: inline-block;
        font-weight: 400;
        width: 300px;
        text-align: center; }
      #contact_wrap #cnt2 .introduce li p {
        display: inline-block;
        padding-left: 20px; }
      #contact_wrap #cnt2 .introduce li + li {
        border-top: 1px solid #999A9C; }
#contact_wrap #cnt3 {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: default;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: top left;
  background-image: url("../images/contact/contact_bg_3.png"); }
  #contact_wrap #cnt3 h2 {
    padding-top: 150px;
    margin-left: 300px;
    font-size: 120px; }
  #contact_wrap #cnt3 .skill_box {
    margin-left: 150px;
    margin-top: 100px; }
    #contact_wrap #cnt3 .skill_box li {
      display: inline-block;
      text-align: center;
      height: 85px;
      line-height: 80px;
      position: relative; }
      #contact_wrap #cnt3 .skill_box li strong {
        display: inline-block;
        text-align: center; }
      #contact_wrap #cnt3 .skill_box li p {
        display: inline-block;
        font-weight: 500;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
        left: 0; }
      #contact_wrap #cnt3 .skill_box li:hover strong, #contact_wrap #cnt3 .skill_box li:focus strong {
        color: rgba(255, 255, 255, 0.2);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      #contact_wrap #cnt3 .skill_box li:hover p, #contact_wrap #cnt3 .skill_box li:focus p {
        color: #ffffff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
    #contact_wrap #cnt3 .skill_box .skill_top {
      width: 400px; }
      #contact_wrap #cnt3 .skill_box .skill_top p {
        width: 400px; }
    #contact_wrap #cnt3 .skill_box .skill_btm {
      width: 320px;
      margin-top: 80px; }
      #contact_wrap #cnt3 .skill_box .skill_btm p {
        width: 320px; }
  #contact_wrap #cnt3 .stream {
    width: 100vw; }
    #contact_wrap #cnt3 .stream h3 {
      display: inline-block;
      font-size: 80px;
      position: absolute;
      bottom: 0px;
      left: 0;
      white-space: nowrap;
      height: 150px;
      line-height: 150px;
      animation: stream 100s linear infinite; }
@keyframes stream {
  from {
    transform: translateX(20%); }
  to {
    transform: translateX(-100%); } }
    #contact_wrap #cnt3 .stream::after {
      content: "";
      background: #ffffff;
      width: 100vw;
      height: 5px;
      display: block;
      bottom: 150px;
      left: 0px;
      position: absolute; }

#acce_wrap {
  font-family: NtSansKR; }
  #acce_wrap #acce_main {
    width: 100vw;
    height: 100vh; }
    #acce_wrap #acce_main .acce_left {
      margin-left: 150px;
      padding-top: 250px; }
      #acce_wrap #acce_main .acce_left h1 {
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
        font-family: Retroica;
        font-size: 100px; }
      #acce_wrap #acce_main .acce_left h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 10px; }
      #acce_wrap #acce_main .acce_left p {
        margin-top: 100px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 65px; }
    #acce_wrap #acce_main a {
      font-size: 20px;
      display: inline-block;
      width: 250px;
      height: 70px;
      border: 1px solid #999A9C;
      text-align: center;
      line-height: 68px;
      position: absolute;
      bottom: 85px;
      left: calc(50% - 125px); }
      #acce_wrap #acce_main a:hover, #acce_wrap #acce_main a:focus {
        background: #ffffff;
        color: #000000;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
  #acce_wrap #acce_tab::before {
    content: "";
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/accessibility/acce_tab_bg.png");
    z-index: -1; }
  #acce_wrap #acce_tab #tablist li {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    position: absolute;
    z-index: 5; }
    #acce_wrap #acce_tab #tablist li:nth-child(1) {
      top: 50px;
      right: 380px; }
    #acce_wrap #acce_tab #tablist li:nth-child(2) {
      top: 125px;
      right: 280px; }
    #acce_wrap #acce_tab #tablist li:nth-child(3) {
      top: 205px;
      right: 190px; }
    #acce_wrap #acce_tab #tablist li:nth-child(4) {
      top: 295px;
      right: 110px; }
  #acce_wrap #acce_tab #tablist li.active {
    background: #F6E25D;
    color: #000000; }
  #acce_wrap #acce_tab .tabpanel {
    display: none;
    overflow: hidden;
    width: 1900px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1; }
    #acce_wrap #acce_tab .tabpanel h2 {
      font-size: 30px;
      text-align: center;
      cursor: default;
      padding-top: 150px; }
    #acce_wrap #acce_tab .tabpanel ul {
      text-align: center;
      margin-bottom: 200px; }
    #acce_wrap #acce_tab .tabpanel li {
      margin-top: 150px;
      text-align: center;
      cursor: default; }
      #acce_wrap #acce_tab .tabpanel li p {
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #999A9C;
        word-break: keep-all;
        font-size: 16px;
        width: 1000px;
        text-align: left;
        line-height: 30px;
        background: #000000;
        padding: 40px 80px; }
      #acce_wrap #acce_tab .tabpanel li img {
        display: inline-block;
        margin-top: 50px;
        width: 1200px; }
      #acce_wrap #acce_tab .tabpanel li + li {
        margin-top: 200px; }
  #acce_wrap #acce_tab #tabpanel1 {
    background-image: url("../images/accessibility/acce_tab_circle1.png");
    padding-bottom: 130px; }
  #acce_wrap #acce_tab #tabpanel2 {
    background-image: url("../images/accessibility/acce_tab_circle2.png");
    padding-bottom: 90px; }
  #acce_wrap #acce_tab #tabpanel3 {
    background-image: url("../images/accessibility/acce_tab_circle3.png");
    padding-bottom: 90px; }
  #acce_wrap #acce_tab #tabpanel4 {
    background-image: url("../images/accessibility/acce_tab_circle4.png");
    padding-bottom: 350px; }
    #acce_wrap #acce_tab #tabpanel4 li h3 {
      margin-top: 50px; }
    #acce_wrap #acce_tab #tabpanel4 li img {
      width: 1500px;
      height: 160px; }
  #acce_wrap #acce_tab .tabpanel.active {
    display: inline-block; }

#project_wrap #pj_main {
  width: 100vw;
  height: 100vh; }
  #project_wrap #pj_main .pj_list ul {
    float: left;
    position: relative;
    width: 627px;
    height: 100vh; }
    #project_wrap #pj_main .pj_list ul li {
      display: inline-block; }
    #project_wrap #pj_main .pj_list ul:nth-child(1) {
      background-image: url("../images/project/project_main_1.png");
      border-right: 1px solid #999A9C; }
    #project_wrap #pj_main .pj_list ul:nth-child(2) {
      background-image: url("../images/project/project_main_2.png");
      border-right: 1px solid #999A9C;
      border-left: 1px solid #999A9C; }
    #project_wrap #pj_main .pj_list ul:nth-child(3) {
      background-image: url("../images/project/project_main_3.png");
      border-left: 1px solid #999A9C; }
    #project_wrap #pj_main .pj_list ul + ul {
      margin-left: 19.5px; }
  #project_wrap #pj_main .pj_list h2 {
    font-size: 38px;
    display: block;
    position: absolute;
    top: 280px;
    right: 50px; }
    #project_wrap #pj_main .pj_list h2::after {
      content: "";
      background: #ffffff;
      height: 1px;
      width: 400px;
      position: absolute;
      top: -70px;
      right: -50px; }
  #project_wrap #pj_main .pj_list .open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 130px 60px; }
    #project_wrap #pj_main .pj_list .open img {
      width: 505px;
      height: 510px; }
    #project_wrap #pj_main .pj_list .open strong {
      display: block;
      font-size: 35px;
      text-align: right;
      font-weight: 400;
      margin-top: 20px; }
    #project_wrap #pj_main .pj_list .open p {
      margin-top: 70px;
      font-size: 20px;
      line-height: 2.5; }
    #project_wrap #pj_main .pj_list .open::after {
      content: "";
      display: block;
      background: #ffffff;
      height: 1px;
      width: 510px;
      position: absolute;
      bottom: 180px;
      left: calc(50% - 255px); }

#pj_more_wrap {
  width: 100vw;
  overflow: hidden; }
  #pj_more_wrap .txt_l {
    text-align: left; }
  #pj_more_wrap .txt_r {
    text-align: right; }
  #pj_more_wrap h1 {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    z-index: 50; }
  #pj_more_wrap .velvet {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  #pj_more_wrap .gra_circle {
    display: inline-block;
    width: 650px;
    height: 650px;
    position: absolute;
    top: 180px;
    left: calc(50% - 325px);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background-position: center;
    background-image: url("../images/bioterm/main_circle.png"); }
  #pj_more_wrap .pj_m1 {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 230px 150px 0 150px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    background-position: center;
    background-image: url("../images/bioterm/main_bg.png"); }
    #pj_more_wrap .pj_m1 a {
      display: block; }
    #pj_more_wrap .pj_m1 ul {
      height: 550px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between; }
      #pj_more_wrap .pj_m1 ul li {
        width: 250px;
        position: relative; }
        #pj_more_wrap .pj_m1 ul li strong {
          color: #F6E25D;
          font-weight: 400;
          line-height: 57px;
          height: 55px; }
          #pj_more_wrap .pj_m1 ul li strong::before {
            content: "";
            border: 1px solid #F6E25D;
            padding: 0px 25px;
            width: 200px;
            height: 55px;
            display: block;
            position: absolute;
            top: 0;
            left: 0; }
        #pj_more_wrap .pj_m1 ul li p {
          line-height: 1.5;
          margin-top: 60px; }
        #pj_more_wrap .pj_m1 ul li a::after {
          content: "";
          display: block;
          width: 0px;
          height: 0px;
          position: absolute;
          top: 1px;
          right: -1px;
          border-bottom: 30px solid;
          border-left: 30px solid #F6E25D;
          color: #000000;
          transform: rotate(90deg); }
  #pj_more_wrap .pj_m2 {
    width: 100vw;
    height: 200vh;
    display: block; }
    #pj_more_wrap .pj_m2 strong {
      font-weight: 500;
      font-size: 150px; }
    #pj_more_wrap .pj_m2 .bna {
      margin-top: 200px; }
      #pj_more_wrap .pj_m2 .bna .bna_img {
        text-align: center; }
  #pj_more_wrap .pj_m3 {
    padding: 0 300px;
    width: 100vw;
    height: 100vh; }
    #pj_more_wrap .pj_m3 h3 {
      font-weight: 400;
      font-size: 130px; }
    #pj_more_wrap .pj_m3 p {
      font-family: NtSansKR;
      font-size: 18px;
      line-height: 1.6;
      padding: 40px 40px 0 40px; }
    #pj_more_wrap .pj_m3 .why {
      padding-top: 100px; }
  #pj_more_wrap .pj_m4 {
    font-family: NtSansKR;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center; }
    #pj_more_wrap .pj_m4 ul {
      text-align: left;
      width: 300px;
      font-size: 20px;
      border: 1px solid #999A9C;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 100px 60px; }
      #pj_more_wrap .pj_m4 ul li {
        font-size: 18px;
        margin-top: 100px; }
        #pj_more_wrap .pj_m4 ul li > img {
          display: block;
          width: 100px;
          height: 100px;
          margin-top: 100px; }
        #pj_more_wrap .pj_m4 ul li + li {
          margin-top: 50px; }
      #pj_more_wrap .pj_m4 ul + ul {
        margin-left: 180px; }
    #pj_more_wrap .pj_m4 .concept {
      height: 500px; }
    #pj_more_wrap .pj_m4 .font {
      height: 800px;
      margin-top: 200px; }
      #pj_more_wrap .pj_m4 .font p {
        margin-top: 20px; }
    #pj_more_wrap .pj_m4 .palette {
      margin-top: 400px; }
      #pj_more_wrap .pj_m4 .palette span {
        display: block;
        width: 100px;
        height: 100px;
        margin-bottom: 20px; }
  #pj_more_wrap .pj_m5 {
    padding: 200px 300px 0 300px;
    font-family: NtSansKR; }
    #pj_more_wrap .pj_m5 ul {
      padding-bottom: 200px; }
      #pj_more_wrap .pj_m5 ul li {
        position: relative;
        bottom: 0%;
        transform: translateY(0%); }
        #pj_more_wrap .pj_m5 ul li:nth-child(odd) {
          text-align: left; }
        #pj_more_wrap .pj_m5 ul li:nth-child(even) {
          text-align: right; }
        #pj_more_wrap .pj_m5 ul li p {
          font-size: 17px;
          line-height: 2.5;
          margin-top: 50px; }
        #pj_more_wrap .pj_m5 ul li + li {
          margin-top: 200px; }
  #pj_more_wrap #bioterm_wrap #bio1 a img {
    height: 700px;
    width: auto;
    position: absolute;
    top: 150px;
    left: calc(50% - 190px); }
  #pj_more_wrap #bioterm_wrap #bio2 .bna .bna_img {
    text-align: center; }
    #pj_more_wrap #bioterm_wrap #bio2 .bna .bna_img img {
      width: 360px;
      height: 640px;
      margin-top: -40px; }
      #pj_more_wrap #bioterm_wrap #bio2 .bna .bna_img img + img {
        margin-left: 30px; }
  #pj_more_wrap #bioterm_wrap #bio4 .font li img {
    margin-top: 50px; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li span {
    display: block;
    width: 100px;
    height: 100px; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li:nth-child(1) span {
    background-color: #999999; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li:nth-child(2) span {
    background-color: #FFFFFF; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li:nth-child(3) span {
    background-color: #00AE9F; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li:nth-child(4) span {
    background-color: #4A9EC0; }
  #pj_more_wrap #bioterm_wrap #bio4 .palette li:nth-child(5) span {
    background-color: #0E2B3D; }
  #pj_more_wrap #hillstate_wrap #hill1 a img {
    height: 550px;
    width: auto;
    position: absolute;
    top: 250px;
    left: calc(50% - 421.5px); }
  #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img {
    text-align: center; }
    #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img img {
      margin-top: -40px;
      display: inline-block; }
      #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img img + img {
        margin-left: 30px; }
      #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img img:nth-child(1) {
        width: 858px;
        height: 429.5px; }
      #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img img:nth-child(2) {
        width: 393.5px;
        height: 523.5px; }
      #pj_more_wrap #hillstate_wrap #hill2 .bna .bna_img img:nth-child(3) {
        width: 299px;
        height: 530px; }
  #pj_more_wrap #hillstate_wrap #hill4 .font {
    height: 800px;
    margin-top: 200px; }
    #pj_more_wrap #hillstate_wrap #hill4 .font img + img {
      margin-top: 30px; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li span {
    display: block;
    width: 100px;
    height: 100px; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li:nth-child(1) span {
    background-color: #F4EBDC; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li:nth-child(2) span {
    background-color: #E4D0AD; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li:nth-child(3) span {
    background-color: #956E4B; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li:nth-child(4) span {
    background-color: #281E13; }
  #pj_more_wrap #hillstate_wrap #hill4 .palette li:nth-child(5) span {
    background-color: #821E1E; }

/*# sourceMappingURL=sub.css.map */
